.credentials__Title {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 3rem;
}

.formContainer {
    display: grid;
    grid-template-areas: "firstName secondName"
        "phoneNumber phoneNumber"
        "email email"
        "dob dob"
        "street street"
        "city city"
        "state zipCode";

    gap: 2rem 3rem;

    label {
        display: inline-block;
        width: 100%;
        text-align: left;
        color: white;
    }

    input,
    select {
        padding: 0.7rem;
        background-color: white;
        border: none;
        border-radius: 3px;
        color: #000107;
        font-weight: bold;
    }

    [class^="form__"] {

        input,
        select {
            width: 100%;
        }
    }

    .form__FirstName {
        grid-area: firstName
    }

    .form__SecondName {
        grid-area: secondName
    }

    .form__Phone {


        grid-area: phoneNumber
    }

    .form__Email {
        grid-area: email
    }

    .form__Dob {
        grid-area: dob;
    }

    .form__Street {
        grid-area: street;
    }

    .form__City {
        grid-area: city;
    }

    .form__State {
        grid-area: state;
    }

    .form__ZipCode {
        grid-area: zipCode;
    }

    .errorMessage {
        font-size: 13px;
        color: red;
        margin: 0;
        text-align: left;
    }
}